.End-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.End-topBar {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.End-chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.End-chartMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.End-canvas {
  border: 1px solid black;
}

.End-trueContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

#End-trueButton {
  width: 132px;
  height: 51px;
  background-color: #124d54;
  text-align: center;
  border-radius: 5px;
  color: aliceblue;
  text-decoration: none;
  padding: 16px 16px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.End-doneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#End-doneButton {
  margin-top: 40px;
  width: 160px;
  height: 30px;
  background-color: #fa5940;
  text-align: center;
  border-radius: 5px;
  color: aliceblue;
  text-decoration: none;
  padding: 15px 0px 6px 0px;
}
