.Navbar-container {
  padding: var(--l) var(--l);
  background-color: #124d54;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navbar-items {
  height: var(--login-small-height);
}

.Navbar-leftside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Navbar-rightside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}